includes:
    - ../../vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    phpVersion: 80100
    tmpDir: /tmp/phpstan/McpServer/main

    checkDynamicProperties: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkUninitializedProperties: true
    reportStaticMethodSignatures: true

    paths:
        - .
    excludePaths:
        - scoper.inc.php
        - github-action-tests/*
        - vendor/*

    bootstrapFiles:
        - bootstrap-phpstan.php
        - ../../bootstrap-phpstan.php

    universalObjectCratesClasses:
        - Piwik\Config
