.mcpServerConnect {
  .mcpServerLongCode {
    word-break: break-all;
  }

  ol {
    margin-left: 20px;

    li {
      list-style-type: decimal;
    }
  }

  ul {
    li {
      list-style-type: disc;
    }
  }
}
